@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC5BSKO Demo</h1>
    <p class="lead">Shop for your favorite IT books, we've got the best prices.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@Html.Action("Featured", "Books")